@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #58cfb9;
  --light-blue: #34999e;
  --light-green: #e0ebe8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

/* Homepage */
.landing-page {
    background: url('images/sebastinabright.jpg');
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

nav {
    background-color: #58cfb9b4;
}

nav .collapse ul li {
  transition: 0.2s ease-in-out;
}

nav .collapse ul li:hover {
  transform: translateY(-3px);
}

.showcase .showcase-text {
  color: var(--primary-color);
}

.showcase h1 span {
  color: var(--light-blue);
}

.showcase .showcase-text .socials {
  cursor: pointer;
}

.showcase .showcase-text .socials a {
  color: var(--primary-color);
}

.showcase .showcase-text .socials i:hover {
  transition: 0.2s ease-in-out;
}

.showcase .showcase-text .socials i:hover {
  color: var(--light-blue);
}

.showcase .showcase-text button {
  background-color: var(--primary-color);
  transition: 0.2s ease-in-out;
}

.showcase .showcase-text button:hover {
  background-color: var(--light-blue);
}

/* About Me */
.about-me {
  background: linear-gradient(90deg, var(--light-green) 50%, #ffff 50%);
  margin-bottom: 4rem;
}

.about-me .content .big-title, .about-me .content .myname h2, .about-me .content .mydesc h4 {
    margin-bottom: 2rem;
    color: var(--primary-color);
}

.about-me .content .mydesc p {
    font-weight: 500;
}

.about-me .mydesc {
  margin-right: 2rem;
}

.about-me .mydesc h4 {
  font-weight: 600;
  margin: 1.5rem 0;
}

/* Skills*/
.skills {
  background-color: #fafaff;
}

.skills .big-title h1 {
  padding-top: 1rem;
  color: var(--primary-color);
}

.skills .skills-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.skills .skills-cards .card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f1f1f154;
  margin: 2rem 3rem;
}

.skills .skills-cards .card img {
  padding-top: 1rem;
  height: 10rem;
  width: 100%;
}

/* Projects */
.projects .big-title {
  color: var(--primary-color);
}

.projects .project1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.projects .project2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 2rem 0;
}

.projects .project1 .card {
  margin-right: 2rem;
}

.projects .project2 .card {
  margin-left: 2rem;
}

.projects .project1 .card .card-body a:hover, .projects .project2 .card .card-body a:hover {
    background-color: var(--light-blue);
    border-color: var(--light-blue);
    outline: none;
}

.projects .project1 p,
.projects .project2 p {
  line-height: 2.2rem;
  font-weight: 500;
  max-width: 70%;
}

/* Email */
.email {
  margin-top: 8rem;
  color: var(--primary-color);
  background-color: var(--light-green);
}

.email form button {
    background-color: var(--primary-color);
}

.email form button:hover {
    background-color: var(--light-blue);
}

/* Media Queries for mobile responsiveness */
@media screen and (max-width: 768px) {
  .showcase {
    text-align: center;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .showcase img {
      padding: 0 1rem;
  }

  .showcase .showcase-text {
      padding-top: 1rem;
  }

  .about-me {
    margin-top: 4rem;
    background: linear-gradient(180deg, var(--light-green) 100%, #ffff 50%);
    padding-top: 2rem;
  }

  .about-me .content .big-title {
      margin-bottom: 3rem;
  }

  .about-me .content .myself {
    flex-direction: column-reverse;
  }

  .about-me .content .myself .mydesc {
    margin-top: 4rem;
  }

  .about-me .content .myself img {
    margin: auto;
  }

  .skills .skills-cards {
    display: grid;
    grid-template-columns: auto;
  }

  .email form {
      min-width: 50%;
  }

  footer {
    flex-direction: column;
  }

  footer em {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .projects .project1, .projects .project2 {
    flex-direction: column;
    margin: 2rem 0;
    text-align: center;
  }

  .projects .project1 .card, .projects .project2 .card {
    margin-bottom: 2rem;
  }

  .email form {
      min-width: 80%;
  }

  .email .interested {
    text-align: center;
  }
}
